html
{
  height:100%;
}

body
{
  height:100%;
  background-color: #FFF;

}

.container-fluid
{
background-image:url(../img/backy.jpg);
background-repeat: no-repeat;
height: 100%;
background-size: 100% 100%;
}

.container
{
  /*background-color: #FFF;*/
  background-image:url(../img/white_wall.png);
  background-repeat: repeat;
}

.logo
{
  height:250px;
}

.navbar-light
{
  background-color: rgba(128, 84, 38, 0.72);
}

.nav-tabs a
{
  color: white;
}

.orange
{
  background-color: rgb(238, 89, 25);
  min-height: 350px;
}
.or1
{
  background-image:url(../img/menu1.jpg);
  background-repeat: no-repeat;
  /*height: 100%;*/
  background-size: cover;
}
.or2
{
  background-image:url(../img/menu2.jpg);
  background-repeat: no-repeat;
  /*height: 100%;*/
  background-size: cover;
}
.or3
{
  background-image:url(../img/menu3.jpg);
  background-repeat: no-repeat;
  /*height: 100%;*/
  background-size: cover;
}
.or4
{
  background-image:url(../img/menu4.jpg);
  background-repeat: no-repeat;
  /*height: 100%;*/
  background-size: cover;
}
footer
{
  height:500px;
  background-color: rgb(238, 69, 32);
  color: white;
}
